This to fetch from json data of tmdb api:
-id
-title
-release_date
-overview
-popularity
-vote_average
-vote_count

In [1]:
import pandas as pd
import requests

In [24]:
# http request using requests library
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=e87192e4e0223f4c56fcfba8383d88cf&language=en-US&page=1')

In [26]:
df = pd.DataFrame(response.json()['results'])[["id", "title", "release_date", "overview", "popularity", "vote_average", "vote_count"]]

In [27]:
df

,id,title,release_date,overview,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,32.0995,8.710,28246
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",56.9185,8.687,21409
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,15.8349,8.571,12931
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,20.5698,8.565,16410
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,27.1879,8.548,9109
5,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",27.8529,8.536,17108
6,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,28.1334,8.520,33799
7,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",6.4242,8.500,4484
8,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,19.2132,8.504,18065
9,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",92.5034,8.500,19007
10,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",18.6520,8.490,28633
11,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,59.3509,8.484,11744
12,122,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,21.9192,8.483,25037
13,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,21.8642,8.468,28176
14,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,15.5366,8.462,8966
15,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,6.1469,8.500,3881
16,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",80.3555,8.456,13343
17,157336,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,38.0836,8.454,37068
18,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.0084,8.451,5869
19,637,Life Is Beautiful,1997-12-20,A touching story of an Italian book seller of ...,12.6332,8.448,13354

In [35]:
df = pd.DataFrame()

In [36]:
df

Empty DataFrame
Columns: []
Index: []

In [42]:
for i in range(1, 200):
    response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=e87192e4e0223f4c56fcfba8383d88cf&language=en-US&page={}".format(i))
    temp_df = pd.DataFrame(response.json()['results'])[["id", "title", "release_date", "overview"]]
    df = pd.concat([df, temp_df], ignore_index=True)

In [43]:
df

,id,title,release_date,overview
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o..."
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...
...,...,...,...,...
3975,22947,Up in the Air,2009-12-04,Corporate downsizing expert Ryan Bingham spend...
3976,10019,Mannequin,1987-02-13,"Jonathan Switcher, an unemployed artist, finds..."
3977,171372,Frank,2014-05-09,A young wannabe musician discovers he has bitt...
3978,13909,She Wore a Yellow Ribbon,1949-10-22,"On the eve of retirement, Captain Nathan Britt..."
3979,9762,Step Up,2006-08-11,Tyler Gage receives the opportunity of a lifet...

In [44]:
# Note: We can find lots of free apis at rapidapi. 
# Practice: Use those apis and upload data to kaggle

# Practice

In [45]:
import pandas as pd

In [59]:
import requests

url = "https://active-jobs-db.p.rapidapi.com/active-ats-7d"

querystring = {"limit":"10","offset":"0","title_filter":"\"Data Engineer\"","location_filter":"\"United States\" OR \"United Kingdom\"","description_type":"text"}

headers = {
	"x-rapidapi-key": "78432e55c8msh562d14e52997700p118102jsn483941ef172f",
	"x-rapidapi-host": "active-jobs-db.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

df = pd.DataFrame(response.json())

In [60]:
df

,id,date_posted,date_created,title,organization,organization_url,date_validthrough,locations_raw,locations_alt_raw,location_type,...,organization_logo,cities_derived,regions_derived,countries_derived,locations_derived,timezones_derived,lats_derived,lngs_derived,remote_derived,description_text
0,1630100077,2025-05-07T01:51:53,2025-05-06T21:40:35.560459,DATA ENGINEER - Vendor Software Customization ...,MESSERLI KRAMER P.A.,None,None,"[{'@type': 'Place', 'address': {'@type': 'Post...",None,None,...,https://recruiting.paylocity.com/recruiting/jo...,[Plymouth],[Minnesota],[United States],"[Plymouth, Minnesota, United States]",[America/Chicago],[45.0225],[-93.4617],False,"Description\nSummary\nMesserli & Kramer, P.A. ..."
1,1629954677,2025-05-07T00:47:26,2025-05-06T20:41:42.387166,Data Engineer Internship,The Middleby Corporation,None,None,"[{'@type': 'Place', 'address': {'@type': 'Post...",None,None,...,https://recruiting.paylocity.com/recruiting/jo...,[Elgin],[Illinois],[United States],"[Elgin, Illinois, United States]",[America/Chicago],[42.0383],[-88.324],False,Description\nMiddleby Corporation is a global ...
2,1632222151,2025-05-07T00:00:00,2025-05-07T11:39:29.159827,Data Engineer - Streaming Platform,Starling Bank,https://jobs.workable.com/company/u6NCJhieqD5k...,None,"[{'@type': 'Place', 'address': {'@type': 'Post...","[London, England, United Kingdom]",TELECOMMUTE,...,https://workablehr.s3.amazonaws.com/uploads/ac...,[London],"[London, City of, London, City of]","[United Kingdom, United Kingdom]","[London, London, City of, United Kingdom, Lond...","[Europe/London, Europe/London]","[51.5072, 51.5072]","[-0.1275, -0.1275]",True,Starling is the UK’s first and leading digital...
3,1632221554,2025-05-07T00:00:00,2025-05-07T11:39:18.16721,Analytics Data Engineer,Hastings Direct,,2025-06-04T00:00:00,"[{'@type': 'Place', 'address': {'@type': 'Post...","[Bexhill, Leicester]",None,...,None,None,[Leicester],[United Kingdom],"[Leicester, United Kingdom]",[Europe/London],[52.6344],[-1.1319],False,We’re a digital insurance provider with ambiti...
4,1632063966,2025-05-07T00:00:00,2025-05-07T10:37:55.728805,Data Engineer (Mid),Runna,https://jobs.workable.com/company/69eiJ3tzNyjS...,None,"[{'@type': 'Place', 'address': {'@type': 'Post...","[Vauxhall, England, United Kingdom]",TELECOMMUTE,...,https://workablehr.s3.amazonaws.com/uploads/ac...,[Vauxhall],[New Jersey],[United States],"[Vauxhall, New Jersey, United States]",[America/New_York],[40.7174],[-74.2838],True,We're putting together a talented team to buil...
5,1631505338,2025-05-07T00:00:00,2025-05-07T06:46:12.867597,COSMOS - Data Engineer I,University of Arkansas System,,None,"[{'@type': 'Place', 'address': {'@type': 'Post...",[Little Rock],TELECOMMUTE,...,None,[Little Rock],[Arkansas],[United States],"[Little Rock, Arkansas, United States]",[America/Chicago],[34.7256],[-92.3577],False,Current University of Arkansas System employee...
6,1631505327,2025-05-07T00:00:00,2025-05-07T06:46:12.607977,COSMOS - Data Engineer II,University of Arkansas System,,None,"[{'@type': 'Place', 'address': {'@type': 'Post...",[Little Rock],TELECOMMUTE,...,None,[Little Rock],[Arkansas],[United States],"[Little Rock, Arkansas, United States]",[America/Chicago],[34.7256],[-92.3577],False,Current University of Arkansas System employee...
7,1631133179,2025-05-07T00:00:00,2025-05-07T04:09:28.407362,Principal Data Engineer,Fidelity Investments,,2025-06-17T00:00:00,"[{'@type': 'Place', 'address': {'@type': 'Post...","[Durham, NC]",None,...,None,[Durham],[North Carolina],[United States],"[Durham, North Carolina, United States]",[America/New_York],[35.9792],[-78.9022],False,Job Description: Position Description: Develop...
8,1630384954,2025-05-06T23:26:55,2025-05-06T23:27:38.85559,Sr. Data Engineer,Sorcero,None,None,"[{'@type': 'Place', 'name': 'United States', '...",None,None,...,None,None,None,[United States],[United States],[America/New_York],[38.9047],[-77.0163],False,COMPANY SUMMARY\n\nSorcero's medically-tuned i...
9,1630257016,2025-05-06T22:37:49.823,2025-05-06T22:41:04.383691,Staff Data Engineer,Visa,None,None,[{'address': {'addressLocality': 'Foster City'...,"[Foster City, CA]",None,...,None,[Foster City],[California],[United States],"[Foster City, California, United States]",[America/Los_Angeles],[37.5553],[-122.2659],False,Company DescriptionVisa is a world leader in p...

In [63]:
import requests

url = "https://active-jobs-db.p.rapidapi.com/active-ats-24h"

querystring = {"limit":"10","offset":"0","title_filter":"\"Data Engineer\"","location_filter":"\"United States\" OR \"United Kingdom\"","description_type":"text"}

headers = {
	"x-rapidapi-key": "78432e55c8msh562d14e52997700p118102jsn483941ef172f",
	"x-rapidapi-host": "active-jobs-db.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(pd.DataFrame(response.json()))

           id              date_posted                date_created  \
0  1630100077      2025-05-07T01:51:53  2025-05-06T21:40:35.560459
1  1629954677      2025-05-07T00:47:26  2025-05-06T20:41:42.387166
2  1632063966      2025-05-07T00:00:00  2025-05-07T10:37:55.728805
3  1631505338      2025-05-07T00:00:00  2025-05-07T06:46:12.867597
4  1631505327      2025-05-07T00:00:00  2025-05-07T06:46:12.607977
5  1631133179      2025-05-07T00:00:00  2025-05-07T04:09:28.407362
6  1630384954      2025-05-06T23:26:55   2025-05-06T23:27:38.85559
7  1630257016  2025-05-06T22:37:49.823  2025-05-06T22:41:04.383691
8  1630018683  2025-05-06T21:04:11.177  2025-05-06T21:05:03.207932
9  1629962897  2025-05-06T20:41:06.915  2025-05-06T20:45:03.609446

                                               title  \
0  DATA ENGINEER - Vendor Software Customization ...
1                           Data Engineer Internship
2                                Data Engineer (Mid)
3                           COSMOS - Data Engineer I
4                          COSMOS - Data Engineer II
5                            Principal Data Engineer
6                                 Sr. Data Engineer
7                                Staff Data Engineer
8                                  Sr. Data Engineer
9                            Principal Data Engineer

                    organization  \
0           MESSERLI KRAMER P.A.
1       The Middleby Corporation
2                          Runna
3  University of Arkansas System
4  University of Arkansas System
5           Fidelity Investments
6                        Sorcero
7                           Visa
8                   BuzzClan LLC
9                         Biogen

                                    organization_url    date_validthrough  \
0                                               None                 None
1                                               None                 None
2  https://jobs.workable.com/company/69eiJ3tzNyjS...                 None
3                                                                    None
4                                                                    None
5                                                     2025-06-17T00:00:00
6                                               None                 None
7                                               None                 None
8                                               None                 None
9                                               None                 None

                                       locations_raw  \
0  [{'@type': 'Place', 'address': {'@type': 'Post...
1  [{'@type': 'Place', 'address': {'@type': 'Post...
2  [{'@type': 'Place', 'address': {'@type': 'Post...
3  [{'@type': 'Place', 'address': {'@type': 'Post...
4  [{'@type': 'Place', 'address': {'@type': 'Post...
5  [{'@type': 'Place', 'address': {'@type': 'Post...
6  [{'@type': 'Place', 'name': 'United States', '...
7  [{'address': {'addressLocality': 'Foster City'...
8  [{'address': {'streetAddress': 'Dallas Texas',...
9  [{'address': {'addressLocality': 'Cambridge', ...

                       locations_alt_raw location_type  ...  \
0                                   None          None  ...
1                                   None          None  ...
2    [Vauxhall, England, United Kingdom]   TELECOMMUTE  ...
3                          [Little Rock]   TELECOMMUTE  ...
4                          [Little Rock]   TELECOMMUTE  ...
5                           [Durham, NC]          None  ...
6                                   None          None  ...
7                      [Foster City, CA]          None  ...
8  [Dallas Texas, Dallas, TX 75229, USA]          None  ...
9                        [Cambridge, MA]          None  ...

                                   organization_logo cities_derived  \
0  https://recruiting.paylocity.com/recruiting/jo...     [Plymouth]
1  https://recruiting.paylocity.com/recruiting/jo...        [Elgin]
2  https://workablehr.s3.amazonaws.com/uploads/ac...     [Vauxhall]
3                                               None  [Little Rock]
4                                               None  [Little Rock]
5                                               None       [Durham]
6                                               None           None
7                                               None  [Foster City]
8                                               None       [Dallas]
9                                               None    [Cambridge]

    regions_derived countries_derived  \
0       [Minnesota]   [United States]
1        [Illinois]   [United States]
2      [New Jersey]   [United States]
3        [Arkansas]   [United States]
4        [Arkansas]   [United States]
5  [North Carolina]   [United States]
6              None   [United States]
7      [California]   [United States]
8           [Texas]   [United States]
9   [Massachusetts]   [United States]

                           locations_derived      timezones_derived  \
0       [Plymouth, Minnesota, United States]      [America/Chicago]
1           [Elgin, Illinois, United States]      [America/Chicago]
2      [Vauxhall, New Jersey, United States]     [America/New_York]
3     [Little Rock, Arkansas, United States]      [America/Chicago]
4     [Little Rock, Arkansas, United States]      [America/Chicago]
5    [Durham, North Carolina, United States]     [America/New_York]
6                            [United States]     [America/New_York]
7   [Foster City, California, United States]  [America/Los_Angeles]
8             [Dallas, Texas, United States]      [America/Chicago]
9  [Cambridge, Massachusetts, United States]     [America/New_York]

  lats_derived lngs_derived remote_derived  \
0    [45.0225]   [-93.4617]          False
1    [42.0383]    [-88.324]          False
2    [40.7174]   [-74.2838]           True
3    [34.7256]   [-92.3577]          False
4    [34.7256]   [-92.3577]          False
5    [35.9792]   [-78.9022]          False
6    [38.9047]   [-77.0163]          False
7    [37.5553]  [-122.2659]          False
8    [32.7935]   [-96.7667]          False
9    [42.3759]   [-71.1185]          False

                                    description_text
0  Description\nSummary\nMesserli & Kramer, P.A. ...
1  Description\nMiddleby Corporation is a global ...
2  We're putting together a talented team to buil...
3  Current University of Arkansas System employee...
4  Current University of Arkansas System employee...
5  Job Description: Position Description: Develop...
6  COMPANY SUMMARY\n\nSorcero's medically-tuned i...
7  Company DescriptionVisa is a world leader in p...
8  Job DescriptionJob Title: Python Data Engineer...
9  Job DescriptionAbout This Role The Principal D...

[10 rows x 27 columns]