In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("covid_toy.csv")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

age column doesn't need any transformation, 
gender column (nominal categorical variable) ==> OneHotEncoding, 
fever column (missing values)                ==> SimpleImputer, 
cough (ordinal)                              ==> Ordinal Encoding, 
has_covid                                    ==> Label Encoding,

In [10]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [11]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [36]:
df['city'].unique()

array(['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'], dtype=object)

## Splitting into training and testing dataset

In [14]:
df.head(10)

   age  gender  fever   cough       city has_covid
0   60    Male  103.0    Mild    Kolkata        No
1   27    Male  100.0    Mild      Delhi       Yes
2   42    Male  101.0    Mild      Delhi        No
3   31  Female   98.0    Mild    Kolkata        No
4   65  Female  101.0    Mild     Mumbai        No
5   84  Female    NaN    Mild  Bangalore       Yes
6   14    Male  101.0  Strong  Bangalore        No
7   20  Female    NaN  Strong     Mumbai       Yes
8   19  Female  100.0  Strong  Bangalore        No
9   64  Female  101.0    Mild      Delhi        No

In [13]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns="has_covid"), df["has_covid"], test_size=0.2, random_state=69)

In [25]:
X_train.head(5)

    age  gender  fever   cough       city
36   38  Female  101.0    Mild  Bangalore
28   16    Male  104.0    Mild    Kolkata
5    84  Female    NaN    Mild  Bangalore
40   49  Female  102.0    Mild      Delhi
58   23    Male   98.0  Strong     Mumbai

In [26]:
X_test.head()

    age  gender  fever cough       city
72   83  Female  101.0  Mild    Kolkata
31   83    Male  103.0  Mild    Kolkata
13   64    Male  102.0  Mild  Bangalore
83   17  Female  104.0  Mild    Kolkata
33   26  Female   98.0  Mild    Kolkata

## Column Transformer

In [27]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [28]:
from sklearn.compose import ColumnTransformer

In [72]:
transformer = ColumnTransformer(transformers=[
    ('tf1', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city']),
    ('tf2', SimpleImputer(), ['fever'] ),
    ('tf3', OrdinalEncoder(categories= [["Mild", "Strong"]]), ['cough'])
], remainder= "passthrough")

In [73]:
transformer.fit_transform(X_train)

array([[  0.        ,   0.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  38.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        104.        ,   0.        ,  16.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        100.68055556,   0.        ,  84.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        102.        ,   0.        ,  49.        ],
       [  1.        ,   0.        ,   0.        ,   1.        ,
         98.        ,   1.        ,  23.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        100.        ,   0.        ,  11.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        101.        ,   1.        ,  14.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        104.        ,   1.        ,  75.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        103.        ,   1.        ,  70.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        101.        ,   1.        ,  47.        ],
       [  1.        ,   0.        ,   0.        ,   1.        ,
        100.68055556,   0.        ,  23.        ],
       [  1.        ,   0.        ,   0.        ,   1.        ,
        102.        ,   0.        ,  74.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        100.        ,   0.        ,  27.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        103.        ,   0.        ,  73.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        100.        ,   0.        ,  80.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        100.        ,   1.        ,  47.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        100.        ,   1.        ,  11.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        100.68055556,   0.        ,  38.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
        101.        ,   0.        ,  65.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
        100.68055556,   1.        ,  20.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   1.        ,  34.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
        101.        ,   0.        ,  19.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        102.        ,   1.        ,  33.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
         99.        ,   1.        ,  49.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        100.68055556,   0.        ,  82.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        100.        ,   0.        ,  10.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        103.        ,   0.        ,  60.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        102.        ,   0.        ,  69.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
         98.        ,   1.        ,  10.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        101.        ,   0.        ,   8.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        104.        ,   1.        ,  34.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        104.        ,   0.        ,  25.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
         98.        ,   0.        ,  64.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        104.        ,   1.        ,  54.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        104.        ,   0.        ,  51.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
         98.        ,   0.        ,  65.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  19.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        100.68055556,   1.        ,  42.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        102.        ,   1.        ,  24.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        104.        ,   0.        ,   6.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        100.        ,   0.        ,  27.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
        100.68055556,   1.        ,  34.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        103.        ,   0.        ,  69.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
         99.        ,   0.        ,  72.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
         99.        ,   1.        ,  66.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
         98.        ,   1.        ,  81.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
         99.        ,   0.        ,  65.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   1.        ,  68.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        100.        ,   0.        ,  27.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
         98.        ,   0.        ,  73.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        104.        ,   0.        ,  51.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
         99.        ,   0.        ,  22.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        102.        ,   1.        ,  82.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
         98.        ,   0.        ,  80.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        102.        ,   1.        ,  20.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        103.        ,   0.        ,  16.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        104.        ,   0.        ,  18.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
         98.        ,   0.        ,  24.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
         99.        ,   0.        ,  65.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  42.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        100.        ,   1.        ,  13.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        103.        ,   0.        ,  50.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
         99.        ,   0.        ,  14.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
         98.        ,   0.        ,  31.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
         98.        ,   0.        ,  83.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
         98.        ,   1.        ,   5.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        100.        ,   0.        ,  55.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
         99.        ,   1.        ,  25.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        100.        ,   0.        ,   5.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  49.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        100.68055556,   1.        ,  71.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  64.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
         98.        ,   1.        ,  71.        ],
       [  1.        ,   0.        ,   0.        ,   1.        ,
        104.        ,   0.        ,  44.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
         98.        ,   1.        ,  12.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
        101.        ,   0.        ,  81.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
         99.        ,   1.        ,  59.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
         98.        ,   1.        ,  34.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        102.        ,   0.        ,   5.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
         99.        ,   0.        ,  60.        ]])

In [76]:
transformer.transform(X_test)

array([[  0.        ,   0.        ,   1.        ,   0.        ,
        101.        ,   0.        ,  83.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        103.        ,   0.        ,  83.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        102.        ,   0.        ,  64.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        104.        ,   0.        ,  17.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
         98.        ,   0.        ,  26.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        100.        ,   1.        ,  19.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        100.        ,   0.        ,  19.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        103.        ,   1.        ,  46.        ],
       [  1.        ,   0.        ,   0.        ,   1.        ,
        104.        ,   0.        ,  42.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  20.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
        100.68055556,   1.        ,  79.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
         98.        ,   1.        ,  69.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
        100.68055556,   0.        ,  75.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
         98.        ,   1.        ,  40.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        104.        ,   0.        ,  12.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        103.        ,   0.        ,  48.        ],
       [  1.        ,   1.        ,   0.        ,   0.        ,
        101.        ,   0.        ,  15.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
        104.        ,   1.        ,  56.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        102.        ,   1.        ,  82.        ],
       [  0.        ,   0.        ,   1.        ,   0.        ,
        101.        ,   1.        ,  51.        ]])